<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "work.ccpw.mapper.OrderMapper">

    <resultMap id = "orderMap" type = "order">
        <!--手动指定字段与实体属性的映射关系
            column:数据表的字段名称
            property:实体的属性名称
        -->
        <id column="oid" property="id"/>
        <result column="ordertime" property="orderTime"/>
        <result column="total" property="total"/>
        <!--<result column="uid" property="user.id"/>-->
        <!--<result column="username" property="user.username"/>-->
        <!--<result column="password" property="user.password"/>-->
        <!--<result column="birthday" property="user.birthday"/>-->
        <!--
            property:当前实体(order)中的属性名称
            javaType:当前实体(order)的属性的类型(User)
        -->
        <association property = "user" javaType="user">
            <id column="uid" property="id"/>
            <result property="username" column="username"/>
            <result property="password" column="password"/>
            <result property="birthday" column="birthday"/>
        </association>
    </resultMap>
    <select id = "findAll" resultMap="orderMap">
        select * from orders o,user u where o.uid = u.id
    </select>

</mapper>