<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context = "http://www.springframework.org/schema/context"
       xmlns:mvc = "http://www.springframework.org/schema/mvc"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
                            http://www.springframework.org/schema/mvc  http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--Controller的组件扫描-->
    <!--<context:component-scan base-package = "work.ccpw.controller"/>-->
    <context:component-scan base-package = "work.ccpw">
        <context:include-filter type = "annotation" expression = "org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--配置内部资源视图解析器-->
    <bean id = "viewResolver" class = "org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--拿到前缀/jsp/再拿到视图的名称success再拿到.jsp-->
        <property name = "prefix" value = "/jsp/"/>
        <property name = "suffix" value = ".jsp"/>
    </bean>
    <!-- 配置处理器适配器-->
    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">-->
    <!--    <property name = "messageConverters">-->
    <!--        <list>-->
    <!--            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>-->
    <!--        </list>-->
    <!--    </property>-->
    <!--</bean>-->
    <!--mvc注解驱动-->
    <!--<mvc:annotation-driven/>-->

    <!--开放资源访问权限-->
    <mvc:resources mapping = "/js/**" location = "/js/"/>
    <mvc:resources mapping = "/img/**" location = "/img/"/>
    <!--这种方式也可以找资源,如果springMVC找不到资源,则交给默认servlet-->
    <!--<mvc:default-servlet-handler/>-->
    <!--声明转换器-->
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name = "converters">
            <list>
                <bean class="work.ccpw.converter.DateConverter"/>
            </list>
        </property>
    </bean>
    <!--mvc注解驱动 添加自定义转换器-->
    <mvc:annotation-driven conversion-service="conversionService"/>
    <!--配置文件上传解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name = "defaultEncoding" value="utf8"/>
        <property name = "maxUploadSize" value="500000"/>
        <property name = "maxUploadSizePerFile" value="500000"/>
    </bean>
</beans>
